<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.projectspring.www.repository.MemberDAO">
  <insert id="register">
  	insert into member(email, pwd, nick_name)
  	values(#{email}, #{pwd}, #{nickName}) 
  </insert>
  <insert id="insertAuthInin">
  	insert into auth_member values(#{email}, 'ROLE_USER')
  </insert>
  <select id="selectEmail" resultType="com.projectspring.www.security.MemberVO">
  	select * from member where email = #{email}
  </select>
  <select id="selectAuths" resultType="com.projectspring.www.security.AuthVO">
  	select * from auth_member where email = #{email}
  </select>
  <update id="updateLastLogin">
  	update member set last_login = now() where email = #{email}
  </update>
  <select id="selectAllList" resultType="com.projectspring.www.security.MemberVO">
  	select * from member
  </select>
  <select id="selectUser" resultType="com.projectspring.www.security.MemberVO">
  	select * from member where email = #{email}
  </select>
  <select id="selectPwd" resultType="String">
  	select pwd from member where email = #{email}
  </select>
  <update id="modifyNick">
  	update member set nick_name = #{nickName} where email = #{email}
  </update>
  <update id="modify">
  	update member set pwd = #{pwd}, nick_name = #{nickName} where email = #{email}
  </update>
  <delete id="remove">
  	delete from member where email = #{email}
  </delete>
  </mapper>